@import './variables';

%basicFlex {
  display: flex;
  width: 100%;

}

%module {
  width: 100%;
  height: -webkit-fill-available;
  overflow-y: auto;
  & main {
    display: flex;
    flex-direction: column;
  }
}

%horizontalPadding {
  padding-left: $bigPadding !important;
  padding-right: $bigPadding !important;
  @media (max-width:1007px) {
    padding-left: $smallPadding !important;
    padding-right: $smallPadding !important;
  }
}

%fullPadding {
  padding: $bigPadding !important;
  @media (max-width:1007px) {
    padding: $smallPadding !important;
  }
}

%verticalhorizontalPadding {
  padding-top: $bigPadding !important;
  padding-bottom: $bigPadding !important;
  @media (max-width:1007px) {
    padding-top: $smallPadding !important;
    padding-bottom: $smallPadding !important;
  }
}

%rigthPadding {
  padding-right: $bigPadding !important;
  @media (max-width:1007px) {
    padding-right: $smallPadding !important;
  }
}

%topPadding {
  padding-top: $bigPadding !important;
  @media (max-width:1007px) {
    padding-top: $smallPadding !important;
  }
}
