:root {
  --md-source: #803589;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary4: #200026;
  --md-ref-palette-primary5: #24002b;
  --md-ref-palette-primary6: #28002f;
  --md-ref-palette-primary10: #36003e;
  --md-ref-palette-primary12: #3c0046;
  --md-ref-palette-primary17: #4d0059;
  --md-ref-palette-primary20: #560761;
  --md-ref-palette-primary22: #5b0e66;
  --md-ref-palette-primary24: #60156b;
  --md-ref-palette-primary25: #63186d;
  --md-ref-palette-primary30: #70267a;
  --md-ref-palette-primary35: #7e3387;
  --md-ref-palette-primary40: #8b3f94;
  --md-ref-palette-primary50: #a759af;
  --md-ref-palette-primary60: #c472ca;
  --md-ref-palette-primary70: #e18de7;
  --md-ref-palette-primary80: #fbaaff;
  --md-ref-palette-primary87: #ffc9fe;
  --md-ref-palette-primary90: #ffd6fd;
  --md-ref-palette-primary92: #ffdefc;
  --md-ref-palette-primary94: #ffe7fb;
  --md-ref-palette-primary95: #ffebfb;
  --md-ref-palette-primary96: #ffeffa;
  --md-ref-palette-primary98: #fff7fa;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary4: #140d00;
  --md-ref-palette-secondary5: #171000;
  --md-ref-palette-secondary6: #1a1200;
  --md-ref-palette-secondary10: #241a00;
  --md-ref-palette-secondary12: #291e00;
  --md-ref-palette-secondary17: #352800;
  --md-ref-palette-secondary20: #3d2f00;
  --md-ref-palette-secondary22: #423300;
  --md-ref-palette-secondary24: #473700;
  --md-ref-palette-secondary25: #4a3900;
  --md-ref-palette-secondary30: #584400;
  --md-ref-palette-secondary35: #665000;
  --md-ref-palette-secondary40: #745b00;
  --md-ref-palette-secondary50: #927300;
  --md-ref-palette-secondary60: #b18c00;
  --md-ref-palette-secondary70: #d1a600;
  --md-ref-palette-secondary80: #efc12b;
  --md-ref-palette-secondary87: #ffd65e;
  --md-ref-palette-secondary90: #ffe08d;
  --md-ref-palette-secondary92: #ffe6a8;
  --md-ref-palette-secondary94: #ffecc1;
  --md-ref-palette-secondary95: #ffefcd;
  --md-ref-palette-secondary96: #fff2d9;
  --md-ref-palette-secondary98: #fff8f1;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary4: #250016;
  --md-ref-palette-tertiary5: #290019;
  --md-ref-palette-tertiary6: #2e001d;
  --md-ref-palette-tertiary10: #3d0027;
  --md-ref-palette-tertiary12: #44002c;
  --md-ref-palette-tertiary17: #570039;
  --md-ref-palette-tertiary20: #620042;
  --md-ref-palette-tertiary22: #680646;
  --md-ref-palette-tertiary24: #6e0d4b;
  --md-ref-palette-tertiary25: #71104d;
  --md-ref-palette-tertiary30: #7f1f59;
  --md-ref-palette-tertiary35: #8e2c66;
  --md-ref-palette-tertiary40: #9d3872;
  --md-ref-palette-tertiary50: #bc518c;
  --md-ref-palette-tertiary60: #db6aa7;
  --md-ref-palette-tertiary70: #fa84c2;
  --md-ref-palette-tertiary80: #ffafd5;
  --md-ref-palette-tertiary87: #ffcce2;
  --md-ref-palette-tertiary90: #ffd8e8;
  --md-ref-palette-tertiary92: #ffe0ec;
  --md-ref-palette-tertiary94: #ffe8f0;
  --md-ref-palette-tertiary95: #ffecf2;
  --md-ref-palette-tertiary96: #fff0f4;
  --md-ref-palette-tertiary98: #fff8f8;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral4: #100d10;
  --md-ref-palette-neutral5: #131013;
  --md-ref-palette-neutral6: #161215;
  --md-ref-palette-neutral10: #1e1a1d;
  --md-ref-palette-neutral12: #221e21;
  --md-ref-palette-neutral17: #2d292c;
  --md-ref-palette-neutral20: #332f32;
  --md-ref-palette-neutral22: #383337;
  --md-ref-palette-neutral24: #3c383b;
  --md-ref-palette-neutral25: #3f3a3d;
  --md-ref-palette-neutral30: #4a4549;
  --md-ref-palette-neutral35: #565154;
  --md-ref-palette-neutral40: #625d60;
  --md-ref-palette-neutral50: #7b7579;
  --md-ref-palette-neutral60: #968f93;
  --md-ref-palette-neutral70: #b1a9ad;
  --md-ref-palette-neutral80: #ccc4c8;
  --md-ref-palette-neutral87: #e0d8dc;
  --md-ref-palette-neutral90: #e9e0e4;
  --md-ref-palette-neutral92: #efe6ea;
  --md-ref-palette-neutral94: #f4ecf0;
  --md-ref-palette-neutral95: #f7eef2;
  --md-ref-palette-neutral96: #faf1f5;
  --md-ref-palette-neutral98: #fff7fa;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant4: #130c12;
  --md-ref-palette-neutral-variant5: #150f15;
  --md-ref-palette-neutral-variant6: #181118;
  --md-ref-palette-neutral-variant10: #201920;
  --md-ref-palette-neutral-variant12: #251d24;
  --md-ref-palette-neutral-variant17: #2f282f;
  --md-ref-palette-neutral-variant20: #362e35;
  --md-ref-palette-neutral-variant22: #3b323a;
  --md-ref-palette-neutral-variant24: #3f373e;
  --md-ref-palette-neutral-variant25: #413940;
  --md-ref-palette-neutral-variant30: #4d444c;
  --md-ref-palette-neutral-variant35: #595058;
  --md-ref-palette-neutral-variant40: #655b64;
  --md-ref-palette-neutral-variant50: #7f747c;
  --md-ref-palette-neutral-variant60: #998d96;
  --md-ref-palette-neutral-variant70: #b4a8b1;
  --md-ref-palette-neutral-variant80: #d0c3cc;
  --md-ref-palette-neutral-variant87: #e4d6e0;
  --md-ref-palette-neutral-variant90: #eddfe8;
  --md-ref-palette-neutral-variant92: #f2e4ee;
  --md-ref-palette-neutral-variant94: #f8eaf4;
  --md-ref-palette-neutral-variant95: #fbedf7;
  --md-ref-palette-neutral-variant96: #fef0f9;
  --md-ref-palette-neutral-variant98: #fff7fa;
  --md-ref-palette-neutral-variant99: #fffbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error4: #280001;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error6: #310001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error12: #490002;
  --md-ref-palette-error17: #5c0004;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error22: #710005;
  --md-ref-palette-error24: #790006;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error87: #ffcfc9;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error92: #ffe2de;
  --md-ref-palette-error94: #ffe9e6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error96: #fff0ee;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: rgb(104 84 142);
  --md-sys-color-surface-tint-light: rgb(104 84 142);
  --md-sys-color-on-primary-light: rgb(255 255 255);
  --md-sys-color-primary-container-light: rgb(235 221 255);
  --md-sys-color-on-primary-container-light: rgb(35 15 70);
  --md-sys-color-secondary-light: rgb(99 91 112);
  --md-sys-color-on-secondary-light: rgb(255 255 255);
  --md-sys-color-secondary-container-light: rgb(233 222 248);
  --md-sys-color-on-secondary-container-light: rgb(31 24 43);
  --md-sys-color-tertiary-light: rgb(126 82 93);
  --md-sys-color-on-tertiary-light: rgb(255 255 255);
  --md-sys-color-tertiary-container-light: rgb(255 217 225);
  --md-sys-color-on-tertiary-container-light: rgb(49 16 27);
  --md-sys-color-error-light: rgb(186 26 26);
  --md-sys-color-on-error-light: rgb(255 255 255);
  --md-sys-color-error-container-light: rgb(255 218 214);
  --md-sys-color-on-error-container-light: rgb(65 0 2);
  --md-sys-color-background-light: rgb(254 247 255);
  --md-sys-color-on-background-light: rgb(29 27 32);
  --md-sys-color-surface-light: rgb(254 247 255);
  --md-sys-color-on-surface-light: rgb(29 27 32);
  --md-sys-color-surface-variant-light: rgb(231 224 235);
  --md-sys-color-on-surface-variant-light: rgb(73 69 78);
  --md-sys-color-outline-light: rgb(122 117 127);
  --md-sys-color-outline-variant-light: rgb(203 196 207);
  --md-sys-color-shadow-light: rgb(0 0 0);
  --md-sys-color-scrim-light: rgb(0 0 0);
  --md-sys-color-inverse-surface-light: rgb(50 47 53);
  --md-sys-color-inverse-on-surface-light: rgb(245 239 247);
  --md-sys-color-inverse-primary-light: rgb(211 188 253);
  --md-sys-color-primary-fixed-light: rgb(235 221 255);
  --md-sys-color-on-primary-fixed-light: rgb(35 15 70);
  --md-sys-color-primary-fixed-dim-light: rgb(211 188 253);
  --md-sys-color-on-primary-fixed-variant-light: rgb(79 61 116);
  --md-sys-color-secondary-fixed-light: rgb(233 222 248);
  --md-sys-color-on-secondary-fixed-light: rgb(31 24 43);
  --md-sys-color-secondary-fixed-dim-light: rgb(205 194 219);
  --md-sys-color-on-secondary-fixed-variant-light: rgb(75 67 88);
  --md-sys-color-tertiary-fixed-light: rgb(255 217 225);
  --md-sys-color-on-tertiary-fixed-light: rgb(49 16 27);
  --md-sys-color-tertiary-fixed-dim-light: rgb(240 183 197);
  --md-sys-color-on-tertiary-fixed-variant-light: rgb(100 59 70);
  --md-sys-color-surface-dim-light: rgb(222 216 224);
  --md-sys-color-surface-bright-light: rgb(254 247 255);
  --md-sys-color-surface-container-lowest-light: rgb(255 255 255);
  --md-sys-color-surface-container-low-light: rgb(248 241 250);
  --md-sys-color-surface-container-light: rgb(242 236 244);
  --md-sys-color-surface-container-high-light: rgb(237 230 238);
  --md-sys-color-surface-container-highest-light: rgb(231 224 232);
  /* dark */
  --md-sys-color-primary-dark: rgb(211 188 253);
  --md-sys-color-surface-tint-dark: rgb(211 188 253);
  --md-sys-color-on-primary-dark: rgb(56 38 92);
  --md-sys-color-primary-container-dark: rgb(79 61 116);
  --md-sys-color-on-primary-container-dark: rgb(235 221 255);
  --md-sys-color-secondary-dark: rgb(205 194 219);
  --md-sys-color-on-secondary-dark: rgb(52 45 64);
  --md-sys-color-secondary-container-dark: rgb(75 67 88);
  --md-sys-color-on-secondary-container-dark: rgb(233 222 248);
  --md-sys-color-tertiary-dark: rgb(240 183 197);
  --md-sys-color-on-tertiary-dark: rgb(74 37 48);
  --md-sys-color-tertiary-container-dark: rgb(100 59 70);
  --md-sys-color-on-tertiary-container-dark: rgb(255 217 225);
  --md-sys-color-error-dark: rgb(255 180 171);
  --md-sys-color-on-error-dark: rgb(105 0 5);
  --md-sys-color-error-container-dark: rgb(147 0 10);
  --md-sys-color-on-error-container-dark: rgb(255 218 214);
  --md-sys-color-background-dark: rgb(21 18 24);
  --md-sys-color-on-background-dark: rgb(231 224 232);
  --md-sys-color-surface-dark: rgb(21 18 24);
  --md-sys-color-on-surface-dark: rgb(231 224 232);
  --md-sys-color-surface-variant-dark: rgb(73 69 78);
  --md-sys-color-on-surface-variant-dark: rgb(203 196 207);
  --md-sys-color-outline-dark: rgb(148 143 153);
  --md-sys-color-outline-variant-dark: rgb(73 69 78);
  --md-sys-color-shadow-dark: rgb(0 0 0);
  --md-sys-color-scrim-dark: rgb(0 0 0);
  --md-sys-color-inverse-surface-dark: rgb(231 224 232);
  --md-sys-color-inverse-on-surface-dark: rgb(50 47 53);
  --md-sys-color-inverse-primary-dark: rgb(104 84 142);
  --md-sys-color-primary-fixed-dark: rgb(235 221 255);
  --md-sys-color-on-primary-fixed-dark: rgb(35 15 70);
  --md-sys-color-primary-fixed-dim-dark: rgb(211 188 253);
  --md-sys-color-on-primary-fixed-variant-dark: rgb(79 61 116);
  --md-sys-color-secondary-fixed-dark: rgb(233 222 248);
  --md-sys-color-on-secondary-fixed-dark: rgb(31 24 43);
  --md-sys-color-secondary-fixed-dim-dark: rgb(205 194 219);
  --md-sys-color-on-secondary-fixed-variant-dark: rgb(75 67 88);
  --md-sys-color-tertiary-fixed-dark: rgb(255 217 225);
  --md-sys-color-on-tertiary-fixed-dark: rgb(49 16 27);
  --md-sys-color-tertiary-fixed-dim-dark: rgb(240 183 197);
  --md-sys-color-on-tertiary-fixed-variant-dark: rgb(100 59 70);
  --md-sys-color-surface-dim-dark: rgb(21 18 24);
  --md-sys-color-surface-bright-dark: rgb(59 56 62);
  --md-sys-color-surface-container-lowest-dark: rgb(15 13 19);
  --md-sys-color-surface-container-low-dark: rgb(29 27 32);
  --md-sys-color-surface-container-dark: rgb(33 31 36);
  --md-sys-color-surface-container-high-dark: rgb(44 41 47);
  --md-sys-color-surface-container-highest-dark: rgb(54 52 58);

  // dark Green

  --md-sys-color-primary-dark-green: rgb(182 208 134);
  --md-sys-color-surface-tint-dark-green: rgb(182 208 134);
  --md-sys-color-on-primary-dark-green: rgb(35 54 0);
  --md-sys-color-primary-container-dark-green: rgb(56 77 18);
  --md-sys-color-on-primary-container-dark-green: rgb(209 236 160);
  --md-sys-color-secondary-dark-green: rgb(193 202 171);
  --md-sys-color-on-secondary-dark-green: rgb(43 51 29);
  --md-sys-color-secondary-container-dark-green: rgb(66 74 50);
  --md-sys-color-on-secondary-container-dark-green: rgb(221 230 198);
  --md-sys-color-tertiary-dark-green: rgb(160 208 201);
  --md-sys-color-on-tertiary-dark-green: rgb(1 55 51);
  --md-sys-color-tertiary-container-dark-green: rgb(31 78 73);
  --md-sys-color-on-tertiary-container-dark-green: rgb(188 236 229);
  --md-sys-color-error-dark-green: rgb(255 180 171);
  --md-sys-color-on-error-dark-green: rgb(105 0 5);
  --md-sys-color-error-container-dark-green: rgb(147 0 10);
  --md-sys-color-on-error-container-dark-green: rgb(255 218 214);
  --md-sys-color-background-dark-green: rgb(18 20 14);
  --md-sys-color-on-background-dark-green: rgb(227 227 216);
  --md-sys-color-surface-dark-green: rgb(18 20 14);
  --md-sys-color-on-surface-dark-green: rgb(227 227 216);
  --md-sys-color-surface-variant-dark-green: rgb(69 72 61);
  --md-sys-color-on-surface-variant-dark-green: rgb(197 200 185);
  --md-sys-color-outline-dark-green: rgb(143 146 132);
  --md-sys-color-outline-variant-dark-green: rgb(69 72 61);
  --md-sys-color-shadow-dark-green: rgb(0 0 0);
  --md-sys-color-scrim-dark-green: rgb(0 0 0);
  --md-sys-color-inverse-surface-dark-green: rgb(227 227 216);
  --md-sys-color-inverse-on-surface-dark-green: rgb(47 49 42);
  --md-sys-color-inverse-primary-dark-green: rgb(79 102 40);
  --md-sys-color-primary-fixed-dark-green: rgb(209 236 160);
  --md-sys-color-on-primary-fixed-dark-green: rgb(19 31 0);
  --md-sys-color-primary-fixed-dim-dark-green: rgb(182 208 134);
  --md-sys-color-on-primary-fixed-variant-dark-green: rgb(56 77 18);
  --md-sys-color-secondary-fixed-dark-green: rgb(221 230 198);
  --md-sys-color-on-secondary-fixed-dark-green: rgb(23 30 10);
  --md-sys-color-secondary-fixed-dim-dark-green: rgb(193 202 171);
  --md-sys-color-on-secondary-fixed-variant-dark-green: rgb(66 74 50);
  --md-sys-color-tertiary-fixed-dark-green: rgb(188 236 229);
  --md-sys-color-on-tertiary-fixed-dark-green: rgb(0 32 29);
  --md-sys-color-tertiary-fixed-dim-dark-green: rgb(160 208 201);
  --md-sys-color-on-tertiary-fixed-variant-dark-green: rgb(31 78 73);
  --md-sys-color-surface-dim-dark-green: rgb(18 20 14);
  --md-sys-color-surface-bright-dark-green: rgb(56 58 50);
  --md-sys-color-surface-container-lowest-dark-green: rgb(13 15 9);
  --md-sys-color-surface-container-low-dark-green: rgb(26 28 21);
  --md-sys-color-surface-container-dark-green: rgb(30 32 25);
  --md-sys-color-surface-container-high-dark-green: rgb(41 43 35);
  --md-sys-color-surface-container-highest-dark-green: rgb(52 54 46);

  // Light Green

  --md-sys-color-primary-light-green: rgb(79 102 40);
  --md-sys-color-surface-tint-light-green: rgb(79 102 40);
  --md-sys-color-on-primary-light-green: rgb(255 255 255);
  --md-sys-color-primary-container-light-green: rgb(209 236 160);
  --md-sys-color-on-primary-container-light-green: rgb(19 31 0);
  --md-sys-color-secondary-light-green: rgb(89 98 72);
  --md-sys-color-on-secondary-light-green: rgb(255 255 255);
  --md-sys-color-secondary-container-light-green: rgb(221 230 198);
  --md-sys-color-on-secondary-container-light-green: rgb(23 30 10);
  --md-sys-color-tertiary-light-green: rgb(57 102 97);
  --md-sys-color-on-tertiary-light-green: rgb(255 255 255);
  --md-sys-color-tertiary-container-light-green: rgb(188 236 229);
  --md-sys-color-on-tertiary-container-light-green: rgb(0 32 29);
  --md-sys-color-error-light-green: rgb(186 26 26);
  --md-sys-color-on-error-light-green: rgb(255 255 255);
  --md-sys-color-error-container-light-green: rgb(255 218 214);
  --md-sys-color-on-error-container-light-green: rgb(65 0 2);
  --md-sys-color-background-light-green: rgb(250 250 238);
  --md-sys-color-on-background-light-green: rgb(26 28 21);
  --md-sys-color-surface-light-green: rgb(250 250 238);
  --md-sys-color-on-surface-light-green: rgb(26 28 21);
  --md-sys-color-surface-variant-light-green: rgb(226 228 212);
  --md-sys-color-on-surface-variant-light-green: rgb(69 72 61);
  --md-sys-color-outline-light-green: rgb(117 120 107);
  --md-sys-color-outline-variant-light-green: rgb(197 200 185);
  --md-sys-color-shadow-light-green: rgb(0 0 0);
  --md-sys-color-scrim-light-green: rgb(0 0 0);
  --md-sys-color-inverse-surface-light-green: rgb(47 49 42);
  --md-sys-color-inverse-on-surface-light-green: rgb(241 242 230);
  --md-sys-color-inverse-primary-light-green: rgb(182 208 134);
  --md-sys-color-primary-fixed-light-green: rgb(209 236 160);
  --md-sys-color-on-primary-fixed-light-green: rgb(19 31 0);
  --md-sys-color-primary-fixed-dim-light-green: rgb(182 208 134);
  --md-sys-color-on-primary-fixed-variant-light-green: rgb(56 77 18);
  --md-sys-color-secondary-fixed-light-green: rgb(221 230 198);
  --md-sys-color-on-secondary-fixed-light-green: rgb(23 30 10);
  --md-sys-color-secondary-fixed-dim-light-green: rgb(193 202 171);
  --md-sys-color-on-secondary-fixed-variant-light-green: rgb(66 74 50);
  --md-sys-color-tertiary-fixed-light-green: rgb(188 236 229);
  --md-sys-color-on-tertiary-fixed-light-green: rgb(0 32 29);
  --md-sys-color-tertiary-fixed-dim-light-green: rgb(160 208 201);
  --md-sys-color-on-tertiary-fixed-variant-light-green: rgb(31 78 73);
  --md-sys-color-surface-dim-light-green: rgb(218 219 207);
  --md-sys-color-surface-bright-light-green: rgb(250 250 238);
  --md-sys-color-surface-container-lowest-light-green: rgb(255 255 255);
  --md-sys-color-surface-container-low-light-green: rgb(244 244 233);
  --md-sys-color-surface-container-light-green: rgb(238 239 227);
  --md-sys-color-surface-container-high-light-green: rgb(232 233 221);
  --md-sys-color-surface-container-highest-light-green: rgb(227 227 216);

  // dark Orange

  --md-sys-color-primary-dark-orange: rgb(255 183 129);
  --md-sys-color-surface-tint-dark-orange: rgb(255 183 129);
  --md-sys-color-on-primary-dark-orange: rgb(78 37 0);
  --md-sys-color-primary-container-dark-orange: rgb(109 57 10);
  --md-sys-color-on-primary-container-dark-orange: rgb(255 220 197);
  --md-sys-color-secondary-dark-orange: rgb(228 191 167);
  --md-sys-color-on-secondary-dark-orange: rgb(66 43 26);
  --md-sys-color-secondary-container-dark-orange: rgb(91 65 47);
  --md-sys-color-on-secondary-container-dark-orange: rgb(255 220 197);
  --md-sys-color-tertiary-dark-orange: rgb(199 202 149);
  --md-sys-color-on-tertiary-dark-orange: rgb(48 51 11);
  --md-sys-color-tertiary-container-dark-orange: rgb(70 73 32);
  --md-sys-color-on-tertiary-container-dark-orange: rgb(227 230 175);
  --md-sys-color-error-dark-orange: rgb(255 180 171);
  --md-sys-color-on-error-dark-orange: rgb(105 0 5);
  --md-sys-color-error-container-dark-orange: rgb(147 0 10);
  --md-sys-color-on-error-container-dark-orange: rgb(255 218 214);
  --md-sys-color-background-dark-orange: rgb(25 18 13);
  --md-sys-color-on-background-dark-orange: rgb(240 223 214);
  --md-sys-color-surface-dark-orange: rgb(25 18 13);
  --md-sys-color-on-surface-dark-orange: rgb(240 223 214);
  --md-sys-color-surface-variant-dark-orange: rgb(82 68 59);
  --md-sys-color-on-surface-variant-dark-orange: rgb(214 195 183);
  --md-sys-color-outline-dark-orange: rgb(159 141 131);
  --md-sys-color-outline-variant-dark-orange: rgb(82 68 59);
  --md-sys-color-shadow-dark-orange: rgb(0 0 0);
  --md-sys-color-scrim-dark-orange: rgb(0 0 0);
  --md-sys-color-inverse-surface-dark-orange: rgb(240 223 214);
  --md-sys-color-inverse-on-surface-dark-orange: rgb(56 47 40);
  --md-sys-color-inverse-primary-dark-orange: rgb(137 80 32);
  --md-sys-color-primary-fixed-dark-orange: rgb(255 220 197);
  --md-sys-color-on-primary-fixed-dark-orange: rgb(48 20 0);
  --md-sys-color-primary-fixed-dim-dark-orange: rgb(255 183 129);
  --md-sys-color-on-primary-fixed-variant-dark-orange: rgb(109 57 10);
  --md-sys-color-secondary-fixed-dark-orange: rgb(255 220 197);
  --md-sys-color-on-secondary-fixed-dark-orange: rgb(42 23 8);
  --md-sys-color-secondary-fixed-dim-dark-orange: rgb(228 191 167);
  --md-sys-color-on-secondary-fixed-variant-dark-orange: rgb(91 65 47);
  --md-sys-color-tertiary-fixed-dark-orange: rgb(227 230 175);
  --md-sys-color-on-tertiary-fixed-dark-orange: rgb(27 29 0);
  --md-sys-color-tertiary-fixed-dim-dark-orange: rgb(199 202 149);
  --md-sys-color-on-tertiary-fixed-variant-dark-orange: rgb(70 73 32);
  --md-sys-color-surface-dim-dark-orange: rgb(25 18 13);
  --md-sys-color-surface-bright-dark-orange: rgb(65 55 49);
  --md-sys-color-surface-container-lowest-dark-orange: rgb(20 13 8);
  --md-sys-color-surface-container-low-dark-orange: rgb(34 26 20);
  --md-sys-color-surface-container-dark-orange: rgb(38 30 24);
  --md-sys-color-surface-container-high-dark-orange: rgb(49 40 34);
  --md-sys-color-surface-container-highest-dark-orange: rgb(60 51 45);

  // light Orange

  --md-sys-color-primary-light-orange: rgb(137 80 32);
  --md-sys-color-surface-tint-light-orange: rgb(137 80 32);
  --md-sys-color-on-primary-light-orange: rgb(255 255 255);
  --md-sys-color-primary-container-light-orange: rgb(255 220 197);
  --md-sys-color-on-primary-container-light-orange: rgb(48 20 0);
  --md-sys-color-secondary-light-orange: rgb(117 89 69);
  --md-sys-color-on-secondary-light-orange: rgb(255 255 255);
  --md-sys-color-secondary-container-light-orange: rgb(255 220 197);
  --md-sys-color-on-secondary-container-light-orange: rgb(42 23 8);
  --md-sys-color-tertiary-light-orange: rgb(94 97 53);
  --md-sys-color-on-tertiary-light-orange: rgb(255 255 255);
  --md-sys-color-tertiary-container-light-orange: rgb(227 230 175);
  --md-sys-color-on-tertiary-container-light-orange: rgb(27 29 0);
  --md-sys-color-error-light-orange: rgb(186 26 26);
  --md-sys-color-on-error-light-orange: rgb(255 255 255);
  --md-sys-color-error-container-light-orange: rgb(255 218 214);
  --md-sys-color-on-error-container-light-orange: rgb(65 0 2);
  --md-sys-color-background-light-orange: rgb(255 248 245);
  --md-sys-color-on-background-light-orange: rgb(34 26 20);
  --md-sys-color-surface-light-orange: rgb(255 248 245);
  --md-sys-color-on-surface-light-orange: rgb(34 26 20);
  --md-sys-color-surface-variant-light-orange: rgb(243 223 210);
  --md-sys-color-on-surface-variant-light-orange: rgb(82 68 59);
  --md-sys-color-outline-light-orange: rgb(132 116 106);
  --md-sys-color-outline-variant-light-orange: rgb(214 195 183);
  --md-sys-color-shadow-light-orange: rgb(0 0 0);
  --md-sys-color-scrim-light-orange: rgb(0 0 0);
  --md-sys-color-inverse-surface-light-orange: rgb(56 47 40);
  --md-sys-color-inverse-on-surface-light-orange: rgb(254 238 228);
  --md-sys-color-inverse-primary-light-orange: rgb(255 183 129);
  --md-sys-color-primary-fixed-light-orange: rgb(255 220 197);
  --md-sys-color-on-primary-fixed-light-orange: rgb(48 20 0);
  --md-sys-color-primary-fixed-dim-light-orange: rgb(255 183 129);
  --md-sys-color-on-primary-fixed-variant-light-orange: rgb(109 57 10);
  --md-sys-color-secondary-fixed-light-orange: rgb(255 220 197);
  --md-sys-color-on-secondary-fixed-light-orange: rgb(42 23 8);
  --md-sys-color-secondary-fixed-dim-light-orange: rgb(228 191 167);
  --md-sys-color-on-secondary-fixed-variant-light-orange: rgb(91 65 47);
  --md-sys-color-tertiary-fixed-light-orange: rgb(227 230 175);
  --md-sys-color-on-tertiary-fixed-light-orange: rgb(27 29 0);
  --md-sys-color-tertiary-fixed-dim-light-orange: rgb(199 202 149);
  --md-sys-color-on-tertiary-fixed-variant-light-orange: rgb(70 73 32);
  --md-sys-color-surface-dim-light-orange: rgb(231 215 206);
  --md-sys-color-surface-bright-light-orange: rgb(255 248 245);
  --md-sys-color-surface-container-lowest-light-orange: rgb(255 255 255);
  --md-sys-color-surface-container-low-light-orange: rgb(255 241 233);
  --md-sys-color-surface-container-light-orange: rgb(251 235 225);
  --md-sys-color-surface-container-high-light-orange: rgb(245 229 220);
  --md-sys-color-surface-container-highest-light-orange: rgb(240 223 214);

  // dark Pine

  --md-sys-color-primary-dark-pine: rgb(135 214 189);
  --md-sys-color-surface-tint-dark-pine: rgb(135 214 189);
  --md-sys-color-on-primary-dark-pine: rgb(0 56 44);
  --md-sys-color-primary-container-dark-pine: rgb(0 81 64);
  --md-sys-color-on-primary-container-dark-pine: rgb(162 242 216);
  --md-sys-color-secondary-dark-pine: rgb(178 204 194);
  --md-sys-color-on-secondary-dark-pine: rgb(29 53 45);
  --md-sys-color-secondary-container-dark-pine: rgb(52 76 68);
  --md-sys-color-on-secondary-container-dark-pine: rgb(205 233 221);
  --md-sys-color-tertiary-dark-pine: rgb(169 203 226);
  --md-sys-color-on-tertiary-dark-pine: rgb(14 52 70);
  --md-sys-color-tertiary-container-dark-pine: rgb(40 75 94);
  --md-sys-color-on-tertiary-container-dark-pine: rgb(196 231 255);
  --md-sys-color-error-dark-pine: rgb(255 180 171);
  --md-sys-color-on-error-dark-pine: rgb(105 0 5);
  --md-sys-color-error-container-dark-pine: rgb(147 0 10);
  --md-sys-color-on-error-container-dark-pine: rgb(255 218 214);
  --md-sys-color-background-dark-pine: rgb(15 21 18);
  --md-sys-color-on-background-dark-pine: rgb(222 228 224);
  --md-sys-color-surface-dark-pine: rgb(15 21 18);
  --md-sys-color-on-surface-dark-pine: rgb(222 228 224);
  --md-sys-color-surface-variant-dark-pine: rgb(63 73 69);
  --md-sys-color-on-surface-variant-dark-pine: rgb(191 201 195);
  --md-sys-color-outline-dark-pine: rgb(137 147 142);
  --md-sys-color-outline-variant-dark-pine: rgb(63 73 69);
  --md-sys-color-shadow-dark-pine: rgb(0 0 0);
  --md-sys-color-scrim-dark-pine: rgb(0 0 0);
  --md-sys-color-inverse-surface-dark-pine: rgb(222 228 224);
  --md-sys-color-inverse-on-surface-dark-pine: rgb(43 50 47);
  --md-sys-color-inverse-primary-dark-pine: rgb(16 107 87);
  --md-sys-color-primary-fixed-dark-pine: rgb(162 242 216);
  --md-sys-color-on-primary-fixed-dark-pine: rgb(0 32 24);
  --md-sys-color-primary-fixed-dim-dark-pine: rgb(135 214 189);
  --md-sys-color-on-primary-fixed-variant-dark-pine: rgb(0 81 64);
  --md-sys-color-secondary-fixed-dark-pine: rgb(205 233 221);
  --md-sys-color-on-secondary-fixed-dark-pine: rgb(7 32 25);
  --md-sys-color-secondary-fixed-dim-dark-pine: rgb(178 204 194);
  --md-sys-color-on-secondary-fixed-variant-dark-pine: rgb(52 76 68);
  --md-sys-color-tertiary-fixed-dark-pine: rgb(196 231 255);
  --md-sys-color-on-tertiary-fixed-dark-pine: rgb(0 30 44);
  --md-sys-color-tertiary-fixed-dim-dark-pine: rgb(169 203 226);
  --md-sys-color-on-tertiary-fixed-variant-dark-pine: rgb(40 75 94);
  --md-sys-color-surface-dim-dark-pine: rgb(15 21 18);
  --md-sys-color-surface-bright-dark-pine: rgb(52 59 56);
  --md-sys-color-surface-container-lowest-dark-pine: rgb(9 15 13);
  --md-sys-color-surface-container-low-dark-pine: rgb(23 29 26);
  --md-sys-color-surface-container-dark-pine: rgb(27 33 30);
  --md-sys-color-surface-container-high-dark-pine: rgb(37 43 41);
  --md-sys-color-surface-container-highest-dark-pine: rgb(48 54 51);

  // light Pine

  --md-sys-color-primary-light-pine: rgb(16 107 87);
  --md-sys-color-surface-tint-light-pine: rgb(16 107 87);
  --md-sys-color-on-primary-light-pine: rgb(255 255 255);
  --md-sys-color-primary-container-light-pine: rgb(162 242 216);
  --md-sys-color-on-primary-container-light-pine: rgb(0 32 24);
  --md-sys-color-secondary-light-pine: rgb(75 99 91);
  --md-sys-color-on-secondary-light-pine: rgb(255 255 255);
  --md-sys-color-secondary-container-light-pine: rgb(205 233 221);
  --md-sys-color-on-secondary-container-light-pine: rgb(7 32 25);
  --md-sys-color-tertiary-light-pine: rgb(65 98 118);
  --md-sys-color-on-tertiary-light-pine: rgb(255 255 255);
  --md-sys-color-tertiary-container-light-pine: rgb(196 231 255);
  --md-sys-color-on-tertiary-container-light-pine: rgb(0 30 44);
  --md-sys-color-error-light-pine: rgb(186 26 26);
  --md-sys-color-on-error-light-pine: rgb(255 255 255);
  --md-sys-color-error-container-light-pine: rgb(255 218 214);
  --md-sys-color-on-error-container-light-pine: rgb(65 0 2);
  --md-sys-color-background-light-pine: rgb(245 251 246);
  --md-sys-color-on-background-light-pine: rgb(23 29 26);
  --md-sys-color-surface-light-pine: rgb(245 251 246);
  --md-sys-color-on-surface-light-pine: rgb(23 29 26);
  --md-sys-color-surface-variant-light-pine: rgb(219 229 223);
  --md-sys-color-on-surface-variant-light-pine: rgb(63 73 69);
  --md-sys-color-outline-light-pine: rgb(111 121 117);
  --md-sys-color-outline-variant-light-pine: rgb(191 201 195);
  --md-sys-color-shadow-light-pine: rgb(0 0 0);
  --md-sys-color-scrim-light-pine: rgb(0 0 0);
  --md-sys-color-inverse-surface-light-pine: rgb(43 50 47);
  --md-sys-color-inverse-on-surface-light-pine: rgb(236 242 238);
  --md-sys-color-inverse-primary-light-pine: rgb(135 214 189);
  --md-sys-color-primary-fixed-light-pine: rgb(162 242 216);
  --md-sys-color-on-primary-fixed-light-pine: rgb(0 32 24);
  --md-sys-color-primary-fixed-dim-light-pine: rgb(135 214 189);
  --md-sys-color-on-primary-fixed-variant-light-pine: rgb(0 81 64);
  --md-sys-color-secondary-fixed-light-pine: rgb(205 233 221);
  --md-sys-color-on-secondary-fixed-light-pine: rgb(7 32 25);
  --md-sys-color-secondary-fixed-dim-light-pine: rgb(178 204 194);
  --md-sys-color-on-secondary-fixed-variant-light-pine: rgb(52 76 68);
  --md-sys-color-tertiary-fixed-light-pine: rgb(196 231 255);
  --md-sys-color-on-tertiary-fixed-light-pine: rgb(0 30 44);
  --md-sys-color-tertiary-fixed-dim-light-pine: rgb(169 203 226);
  --md-sys-color-on-tertiary-fixed-variant-light-pine: rgb(40 75 94);
  --md-sys-color-surface-dim-light-pine: rgb(213 219 215);
  --md-sys-color-surface-bright-light-pine: rgb(245 251 246);
  --md-sys-color-surface-container-lowest-light-pine: rgb(255 255 255);
  --md-sys-color-surface-container-low-light-pine: rgb(239 245 241);
  --md-sys-color-surface-container-light-pine: rgb(233 239 235);
  --md-sys-color-surface-container-high-light-pine: rgb(227 234 229);
  --md-sys-color-surface-container-highest-light-pine: rgb(222 228 224);

  // dark Yellow

  --md-sys-color-primary-dark-yellow: rgb(231 194 108);
  --md-sys-color-surface-tint-dark-yellow: rgb(231 194 108);
  --md-sys-color-on-primary-dark-yellow: rgb(63 46 0);
  --md-sys-color-primary-container-dark-yellow: rgb(90 67 0);
  --md-sys-color-on-primary-container-dark-yellow: rgb(255 223 152);
  --md-sys-color-secondary-dark-yellow: rgb(215 197 160);
  --md-sys-color-on-secondary-dark-yellow: rgb(58 47 21);
  --md-sys-color-secondary-container-dark-yellow: rgb(82 69 42);
  --md-sys-color-on-secondary-container-dark-yellow: rgb(244 224 187);
  --md-sys-color-tertiary-dark-yellow: rgb(175 207 171);
  --md-sys-color-on-tertiary-dark-yellow: rgb(28 54 29);
  --md-sys-color-tertiary-container-dark-yellow: rgb(50 77 50);
  --md-sys-color-on-tertiary-container-dark-yellow: rgb(203 235 198);
  --md-sys-color-error-dark-yellow: rgb(255 180 171);
  --md-sys-color-on-error-dark-yellow: rgb(105 0 5);
  --md-sys-color-error-container-dark-yellow: rgb(147 0 10);
  --md-sys-color-on-error-container-dark-yellow: rgb(255 218 214);
  --md-sys-color-background-dark-yellow: rgb(23 19 11);
  --md-sys-color-on-background-dark-yellow: rgb(235 225 212);
  --md-sys-color-surface-dark-yellow: rgb(23 19 11);
  --md-sys-color-on-surface-dark-yellow: rgb(235 225 212);
  --md-sys-color-surface-variant-dark-yellow: rgb(77 70 57);
  --md-sys-color-on-surface-variant-dark-yellow: rgb(208 197 180);
  --md-sys-color-outline-dark-yellow: rgb(153 144 128);
  --md-sys-color-outline-variant-dark-yellow: rgb(77 70 57);
  --md-sys-color-shadow-dark-yellow: rgb(0 0 0);
  --md-sys-color-scrim-dark-yellow: rgb(0 0 0);
  --md-sys-color-inverse-surface-dark-yellow: rgb(235 225 212);
  --md-sys-color-inverse-on-surface-dark-yellow: rgb(52 48 39);
  --md-sys-color-inverse-primary-dark-yellow: rgb(118 90 11);
  --md-sys-color-primary-fixed-dark-yellow: rgb(255 223 152);
  --md-sys-color-on-primary-fixed-dark-yellow: rgb(37 26 0);
  --md-sys-color-primary-fixed-dim-dark-yellow: rgb(231 194 108);
  --md-sys-color-on-primary-fixed-variant-dark-yellow: rgb(90 67 0);
  --md-sys-color-secondary-fixed-dark-yellow: rgb(244 224 187);
  --md-sys-color-on-secondary-fixed-dark-yellow: rgb(36 26 4);
  --md-sys-color-secondary-fixed-dim-dark-yellow: rgb(215 197 160);
  --md-sys-color-on-secondary-fixed-variant-dark-yellow: rgb(82 69 42);
  --md-sys-color-tertiary-fixed-dark-yellow: rgb(203 235 198);
  --md-sys-color-on-tertiary-fixed-dark-yellow: rgb(6 33 10);
  --md-sys-color-tertiary-fixed-dim-dark-yellow: rgb(175 207 171);
  --md-sys-color-on-tertiary-fixed-variant-dark-yellow: rgb(50 77 50);
  --md-sys-color-surface-dim-dark-yellow: rgb(23 19 11);
  --md-sys-color-surface-bright-dark-yellow: rgb(62 57 47);
  --md-sys-color-surface-container-lowest-dark-yellow: rgb(17 14 7);
  --md-sys-color-surface-container-low-dark-yellow: rgb(31 27 19);
  --md-sys-color-surface-container-dark-yellow: rgb(35 31 23);
  --md-sys-color-surface-container-high-dark-yellow: rgb(46 41 33);
  --md-sys-color-surface-container-highest-dark-yellow: rgb(57 52 43);

  // light Yellow

  --md-sys-color-primary-light-yellow: rgb(118 90 11);
  --md-sys-color-surface-tint-light-yellow: rgb(118 90 11);
  --md-sys-color-on-primary-light-yellow: rgb(255 255 255);
  --md-sys-color-primary-container-light-yellow: rgb(255 223 152);
  --md-sys-color-on-primary-container-light-yellow: rgb(37 26 0);
  --md-sys-color-secondary-light-yellow: rgb(106 93 63);
  --md-sys-color-on-secondary-light-yellow: rgb(255 255 255);
  --md-sys-color-secondary-container-light-yellow: rgb(244 224 187);
  --md-sys-color-on-secondary-container-light-yellow: rgb(36 26 4);
  --md-sys-color-tertiary-light-yellow: rgb(73 101 72);
  --md-sys-color-on-tertiary-light-yellow: rgb(255 255 255);
  --md-sys-color-tertiary-container-light-yellow: rgb(203 235 198);
  --md-sys-color-on-tertiary-container-light-yellow: rgb(6 33 10);
  --md-sys-color-error-light-yellow: rgb(186 26 26);
  --md-sys-color-on-error-light-yellow: rgb(255 255 255);
  --md-sys-color-error-container-light-yellow: rgb(255 218 214);
  --md-sys-color-on-error-container-light-yellow: rgb(65 0 2);
  --md-sys-color-background-light-yellow: rgb(255 248 242);
  --md-sys-color-on-background-light-yellow: rgb(31 27 19);
  --md-sys-color-surface-light-yellow: rgb(255 248 242);
  --md-sys-color-on-surface-light-yellow: rgb(31 27 19);
  --md-sys-color-surface-variant-light-yellow: rgb(236 225 207);
  --md-sys-color-on-surface-variant-light-yellow: rgb(77 70 57);
  --md-sys-color-outline-light-yellow: rgb(126 118 103);
  --md-sys-color-outline-variant-light-yellow: rgb(208 197 180);
  --md-sys-color-shadow-light-yellow: rgb(0 0 0);
  --md-sys-color-scrim-light-yellow: rgb(0 0 0);
  --md-sys-color-inverse-surface-light-yellow: rgb(52 48 39);
  --md-sys-color-inverse-on-surface-light-yellow: rgb(249 239 226);
  --md-sys-color-inverse-primary-light-yellow: rgb(231 194 108);
  --md-sys-color-primary-fixed-light-yellow: rgb(255 223 152);
  --md-sys-color-on-primary-fixed-light-yellow: rgb(37 26 0);
  --md-sys-color-primary-fixed-dim-light-yellow: rgb(231 194 108);
  --md-sys-color-on-primary-fixed-variant-light-yellow: rgb(90 67 0);
  --md-sys-color-secondary-fixed-light-yellow: rgb(244 224 187);
  --md-sys-color-on-secondary-fixed-light-yellow: rgb(36 26 4);
  --md-sys-color-secondary-fixed-dim-light-yellow: rgb(215 197 160);
  --md-sys-color-on-secondary-fixed-variant-light-yellow: rgb(82 69 42);
  --md-sys-color-tertiary-fixed-light-yellow: rgb(203 235 198);
  --md-sys-color-on-tertiary-fixed-light-yellow: rgb(6 33 10);
  --md-sys-color-tertiary-fixed-dim-light-yellow: rgb(175 207 171);
  --md-sys-color-on-tertiary-fixed-variant-light-yellow: rgb(50 77 50);
  --md-sys-color-surface-dim-light-yellow: rgb(226 217 204);
  --md-sys-color-surface-bright-light-yellow: rgb(255 248 242);
  --md-sys-color-surface-container-lowest-light-yellow: rgb(255 255 255);
  --md-sys-color-surface-container-low-light-yellow: rgb(252 242 229);
  --md-sys-color-surface-container-light-yellow: rgb(246 237 223);
  --md-sys-color-surface-container-high-light-yellow: rgb(240 231 217);
  --md-sys-color-surface-container-highest-light-yellow: rgb(235 225 212);

  // dark Red

  --md-sys-color-primary-dark-red: rgb(255 178 182);
  --md-sys-color-surface-tint-dark-red: rgb(255 178 182);
  --md-sys-color-on-primary-dark-red: rgb(86 29 35);
  --md-sys-color-primary-container-dark-red: rgb(114 51 56);
  --md-sys-color-on-primary-container-dark-red: rgb(255 218 218);
  --md-sys-color-secondary-dark-red: rgb(230 189 190);
  --md-sys-color-on-secondary-dark-red: rgb(68 41 43);
  --md-sys-color-secondary-container-dark-red: rgb(93 63 64);
  --md-sys-color-on-secondary-container-dark-red: rgb(255 218 218);
  --md-sys-color-tertiary-dark-red: rgb(231 192 142);
  --md-sys-color-on-tertiary-dark-red: rgb(67 44 6);
  --md-sys-color-tertiary-container-dark-red: rgb(92 66 26);
  --md-sys-color-on-tertiary-container-dark-red: rgb(255 221 178);
  --md-sys-color-error-dark-red: rgb(255 180 171);
  --md-sys-color-on-error-dark-red: rgb(105 0 5);
  --md-sys-color-error-container-dark-red: rgb(147 0 10);
  --md-sys-color-on-error-container-dark-red: rgb(255 218 214);
  --md-sys-color-background-dark-red: rgb(26 17 18);
  --md-sys-color-on-background-dark-red: rgb(240 222 222);
  --md-sys-color-surface-dark-red: rgb(26 17 18);
  --md-sys-color-on-surface-dark-red: rgb(240 222 222);
  --md-sys-color-surface-variant-dark-red: rgb(82 67 67);
  --md-sys-color-on-surface-variant-dark-red: rgb(215 193 194);
  --md-sys-color-outline-dark-red: rgb(159 140 140);
  --md-sys-color-outline-variant-dark-red: rgb(82 67 67);
  --md-sys-color-shadow-dark-red: rgb(0 0 0);
  --md-sys-color-scrim-dark-red: rgb(0 0 0);
  --md-sys-color-inverse-surface-dark-red: rgb(240 222 222);
  --md-sys-color-inverse-on-surface-dark-red: rgb(56 46 46);
  --md-sys-color-inverse-primary-dark-red: rgb(143 74 79);
  --md-sys-color-primary-fixed-dark-red: rgb(255 218 218);
  --md-sys-color-on-primary-fixed-dark-red: rgb(59 8 16);
  --md-sys-color-primary-fixed-dim-dark-red: rgb(255 178 182);
  --md-sys-color-on-primary-fixed-variant-dark-red: rgb(114 51 56);
  --md-sys-color-secondary-fixed-dark-red: rgb(255 218 218);
  --md-sys-color-on-secondary-fixed-dark-red: rgb(44 21 22);
  --md-sys-color-secondary-fixed-dim-dark-red: rgb(230 189 190);
  --md-sys-color-on-secondary-fixed-variant-dark-red: rgb(93 63 64);
  --md-sys-color-tertiary-fixed-dark-red: rgb(255 221 178);
  --md-sys-color-on-tertiary-fixed-dark-red: rgb(41 24 0);
  --md-sys-color-tertiary-fixed-dim-dark-red: rgb(231 192 142);
  --md-sys-color-on-tertiary-fixed-variant-dark-red: rgb(92 66 26);
  --md-sys-color-surface-dim-dark-red: rgb(26 17 18);
  --md-sys-color-surface-bright-dark-red: rgb(65 55 55);
  --md-sys-color-surface-container-lowest-dark-red: rgb(20 12 12);
  --md-sys-color-surface-container-low-dark-red: rgb(34 25 26);
  --md-sys-color-surface-container-dark-red: rgb(39 29 30);
  --md-sys-color-surface-container-high-dark-red: rgb(50 40 40);
  --md-sys-color-surface-container-highest-dark-red: rgb(61 50 50);

  // light red

  --md-sys-color-primary-light-red: rgb(143 74 79);
  --md-sys-color-surface-tint-light-red: rgb(143 74 79);
  --md-sys-color-on-primary-light-red: rgb(255 255 255);
  --md-sys-color-primary-container-light-red: rgb(255 218 218);
  --md-sys-color-on-primary-container-light-red: rgb(59 8 16);
  --md-sys-color-secondary-light-red: rgb(118 86 87);
  --md-sys-color-on-secondary-light-red: rgb(255 255 255);
  --md-sys-color-secondary-container-light-red: rgb(255 218 218);
  --md-sys-color-on-secondary-container-light-red: rgb(44 21 22);
  --md-sys-color-tertiary-light-red: rgb(118 89 47);
  --md-sys-color-on-tertiary-light-red: rgb(255 255 255);
  --md-sys-color-tertiary-container-light-red: rgb(255 221 178);
  --md-sys-color-on-tertiary-container-light-red: rgb(41 24 0);
  --md-sys-color-error-light-red: rgb(186 26 26);
  --md-sys-color-on-error-light-red: rgb(255 255 255);
  --md-sys-color-error-container-light-red: rgb(255 218 214);
  --md-sys-color-on-error-container-light-red: rgb(65 0 2);
  --md-sys-color-background-light-red: rgb(255 248 247);
  --md-sys-color-on-background-light-red: rgb(34 25 26);
  --md-sys-color-surface-light-red: rgb(255 248 247);
  --md-sys-color-on-surface-light-red: rgb(34 25 26);
  --md-sys-color-surface-variant-light-red: rgb(244 221 221);
  --md-sys-color-on-surface-variant-light-red: rgb(82 67 67);
  --md-sys-color-outline-light-red: rgb(133 115 115);
  --md-sys-color-outline-variant-light-red: rgb(215 193 194);
  --md-sys-color-shadow-light-red: rgb(0 0 0);
  --md-sys-color-scrim-light-red: rgb(0 0 0);
  --md-sys-color-inverse-surface-light-red: rgb(56 46 46);
  --md-sys-color-inverse-on-surface-light-red: rgb(255 237 236);
  --md-sys-color-inverse-primary-light-red: rgb(255 178 182);
  --md-sys-color-primary-fixed-light-red: rgb(255 218 218);
  --md-sys-color-on-primary-fixed-light-red: rgb(59 8 16);
  --md-sys-color-primary-fixed-dim-light-red: rgb(255 178 182);
  --md-sys-color-on-primary-fixed-variant-light-red: rgb(114 51 56);
  --md-sys-color-secondary-fixed-light-red: rgb(255 218 218);
  --md-sys-color-on-secondary-fixed-light-red: rgb(44 21 22);
  --md-sys-color-secondary-fixed-dim-light-red: rgb(230 189 190);
  --md-sys-color-on-secondary-fixed-variant-light-red: rgb(93 63 64);
  --md-sys-color-tertiary-fixed-light-red: rgb(255 221 178);
  --md-sys-color-on-tertiary-fixed-light-red: rgb(41 24 0);
  --md-sys-color-tertiary-fixed-dim-light-red: rgb(231 192 142);
  --md-sys-color-on-tertiary-fixed-variant-light-red: rgb(92 66 26);
  --md-sys-color-surface-dim-light-red: rgb(231 214 214);
  --md-sys-color-surface-bright-light-red: rgb(255 248 247);
  --md-sys-color-surface-container-lowest-light-red: rgb(255 255 255);
  --md-sys-color-surface-container-low-light-red: rgb(255 240 240);
  --md-sys-color-surface-container-light-red: rgb(252 234 234);
  --md-sys-color-surface-container-high-light-red: rgb(246 228 228);
  --md-sys-color-surface-container-highest-light-red: rgb(240 222 222);

  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-height: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.5px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.4px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.1px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.5px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.5px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.1px;
  /* Shadow*/
}
