[data-theme='dark-purple'] {
  @extend %images-dark;
  --max-width: 1200px;
  --md-sys-color-primary: var(--md-sys-color-primary-dark);
  --md-sys-color-on-primary: var(--md-sys-color-on-primary-dark);
  --md-sys-color-primary-container: var(--md-sys-color-primary-container-dark);
  --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-dark);
  --md-sys-color-primary-fixed: var(--md-sys-color-primary-fixed-dark);
  --md-sys-color-on-primary-fixed: var(--md-sys-color-on-primary-fixed-dark);
  --md-sys-color-primary-fixed-dim: var(--md-sys-color-primary-fixed-dim-dark);
  --md-sys-color-on-primary-fixed-variant: var(--md-sys-color-on-primary-fixed-variant-dark);
  --md-sys-color-secondary: var(--md-sys-color-secondary-dark);
  --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-dark);
  --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-dark);
  --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-dark);
  --md-sys-color-secondary-fixed: var(--md-sys-color-secondary-fixed-dark);
  --md-sys-color-on-secondary-fixed: var(--md-sys-color-on-secondary-fixed-dark);
  --md-sys-color-secondary-fixed-dim: var(--md-sys-color-secondary-fixed-dim-dark);
  --md-sys-color-on-secondary-fixed-variant: var(--md-sys-color-on-secondary-fixed-variant-dark);
  --md-sys-color-tertiary: var(--md-sys-color-tertiary-dark);
  --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-dark);
  --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-dark);
  --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-dark);
  --md-sys-color-tertiary-fixed: var(--md-sys-color-tertiary-fixed-dark);
  --md-sys-color-on-tertiary-fixed: var(--md-sys-color-on-tertiary-fixed-dark);
  --md-sys-color-tertiary-fixed-dim: var(--md-sys-color-tertiary-fixed-dim-dark);
  --md-sys-color-on-tertiary-fixed-variant: var(--md-sys-color-on-tertiary-fixed-variant-dark);
  --md-sys-color-error: var(--md-sys-color-error-dark);
  --md-sys-color-error-container: var(--md-sys-color-error-container-dark);
  --md-sys-color-on-error: var(--md-sys-color-on-error-dark);
  --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-dark);
  --md-sys-color-background: var(--md-sys-color-background-dark);
  --md-sys-color-on-background: var(--md-sys-color-on-background-dark);
  --md-sys-color-outline: var(--md-sys-color-outline-dark);
  --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-dark);
  --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-dark);
  --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-dark);
  --md-sys-color-shadow: var(--md-sys-color-shadow-dark);
  --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-dark);
  --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-dark);
  --md-sys-color-scrim: var(--md-sys-color-scrim-dark);
  --md-sys-color-surface: var(--md-sys-color-surface-dark);
  --md-sys-color-on-surface: var(--md-sys-color-on-surface-dark);
  --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-dark);
  --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-dark);
  --md-sys-color-surface-container-highest: var(--md-sys-color-surface-container-highest-dark);
  --md-sys-color-surface-container-high: var(--md-sys-color-surface-container-high-dark);
  --md-sys-color-surface-container: var(--md-sys-color-surface-container-dark);
  --md-sys-color-surface-container-low: var(--md-sys-color-surface-container-low-dark);
  --md-sys-color-surface-container-lowest: var(--md-sys-color-surface-container-lowest-dark);
  --md-sys-color-surface-dim: var(--md-sys-color-surface-dim-dark);
  --md-sys-color-surface-bright: var(--md-sys-color-surface-bright-dark);
  --md-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.25);
  --md-h-shadow: 0px 10px 34px 0px rgba(0, 0, 0, 0.35);
}

[data-theme='dark-green'] {
  @extend %images-dark;
  --max-width: 1200px;
  --md-sys-color-primary: var(--md-sys-color-primary-dark-green);
  --md-sys-color-on-primary: var(--md-sys-color-on-primary-dark-green);
  --md-sys-color-primary-container: var(--md-sys-color-primary-container-dark-green);
  --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-dark-green);
  --md-sys-color-primary-fixed: var(--md-sys-color-primary-fixed-dark-green);
  --md-sys-color-on-primary-fixed: var(--md-sys-color-on-primary-fixed-dark-green);
  --md-sys-color-primary-fixed-dim: var(--md-sys-color-primary-fixed-dim-dark-green);
  --md-sys-color-on-primary-fixed-variant: var(--md-sys-color-on-primary-fixed-variant-dark-green);
  --md-sys-color-secondary: var(--md-sys-color-secondary-dark-green);
  --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-dark-green);
  --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-dark-green);
  --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-dark-green);
  --md-sys-color-secondary-fixed: var(--md-sys-color-secondary-fixed-dark-green);
  --md-sys-color-on-secondary-fixed: var(--md-sys-color-on-secondary-fixed-dark-green);
  --md-sys-color-secondary-fixed-dim: var(--md-sys-color-secondary-fixed-dim-dark-green);
  --md-sys-color-on-secondary-fixed-variant: var(--md-sys-color-on-secondary-fixed-variant-dark-green);
  --md-sys-color-tertiary: var(--md-sys-color-tertiary-dark-green);
  --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-dark-green);
  --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-dark-green);
  --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-dark-green);
  --md-sys-color-tertiary-fixed: var(--md-sys-color-tertiary-fixed-dark-green);
  --md-sys-color-on-tertiary-fixed: var(--md-sys-color-on-tertiary-fixed-dark-green);
  --md-sys-color-tertiary-fixed-dim: var(--md-sys-color-tertiary-fixed-dim-dark-green);
  --md-sys-color-on-tertiary-fixed-variant: var(--md-sys-color-on-tertiary-fixed-variant-dark-green);
  --md-sys-color-error: var(--md-sys-color-error-dark-green);
  --md-sys-color-error-container: var(--md-sys-color-error-container-dark-green);
  --md-sys-color-on-error: var(--md-sys-color-on-error-dark-green);
  --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-dark-green);
  --md-sys-color-background: var(--md-sys-color-background-dark-green);
  --md-sys-color-on-background: var(--md-sys-color-on-background-dark-green);
  --md-sys-color-outline: var(--md-sys-color-outline-dark-green);
  --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-dark-green);
  --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-dark-green);
  --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-dark-green);
  --md-sys-color-shadow: var(--md-sys-color-shadow-dark-green);
  --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-dark-green);
  --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-dark-green);
  --md-sys-color-scrim: var(--md-sys-color-scrim-dark-green);
  --md-sys-color-surface: var(--md-sys-color-surface-dark-green);
  --md-sys-color-on-surface: var(--md-sys-color-on-surface-dark-green);
  --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-dark-green);
  --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-dark-green);
  --md-sys-color-surface-container-highest: var(--md-sys-color-surface-container-highest-dark-green);
  --md-sys-color-surface-container-high: var(--md-sys-color-surface-container-high-dark-green);
  --md-sys-color-surface-container: var(--md-sys-color-surface-container-dark-green);
  --md-sys-color-surface-container-low: var(--md-sys-color-surface-container-low-dark-green);
  --md-sys-color-surface-container-lowest: var(--md-sys-color-surface-container-lowest-dark-green);
  --md-sys-color-surface-dim: var(--md-sys-color-surface-dim-dark-green);
  --md-sys-color-surface-bright: var(--md-sys-color-surface-bright-dark-green);
  --md-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.25);
  --md-h-shadow: 0px 10px 34px 0px rgba(0, 0, 0, 0.35);
}

[data-theme='dark-orange'] {
  @extend %images-dark;
  --max-width: 1200px;
  --md-sys-color-primary: var(--md-sys-color-primary-dark-orange);
  --md-sys-color-on-primary: var(--md-sys-color-on-primary-dark-orange);
  --md-sys-color-primary-container: var(--md-sys-color-primary-container-dark-orange);
  --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-dark-orange);
  --md-sys-color-primary-fixed: var(--md-sys-color-primary-fixed-dark-orange);
  --md-sys-color-on-primary-fixed: var(--md-sys-color-on-primary-fixed-dark-orange);
  --md-sys-color-primary-fixed-dim: var(--md-sys-color-primary-fixed-dim-dark-orange);
  --md-sys-color-on-primary-fixed-variant: var(--md-sys-color-on-primary-fixed-variant-dark-orange);
  --md-sys-color-secondary: var(--md-sys-color-secondary-dark-orange);
  --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-dark-orange);
  --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-dark-orange);
  --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-dark-orange);
  --md-sys-color-secondary-fixed: var(--md-sys-color-secondary-fixed-dark-orange);
  --md-sys-color-on-secondary-fixed: var(--md-sys-color-on-secondary-fixed-dark-orange);
  --md-sys-color-secondary-fixed-dim: var(--md-sys-color-secondary-fixed-dim-dark-orange);
  --md-sys-color-on-secondary-fixed-variant: var(--md-sys-color-on-secondary-fixed-variant-dark-orange);
  --md-sys-color-tertiary: var(--md-sys-color-tertiary-dark-orange);
  --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-dark-orange);
  --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-dark-orange);
  --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-dark-orange);
  --md-sys-color-tertiary-fixed: var(--md-sys-color-tertiary-fixed-dark-orange);
  --md-sys-color-on-tertiary-fixed: var(--md-sys-color-on-tertiary-fixed-dark-orange);
  --md-sys-color-tertiary-fixed-dim: var(--md-sys-color-tertiary-fixed-dim-dark-orange);
  --md-sys-color-on-tertiary-fixed-variant: var(--md-sys-color-on-tertiary-fixed-variant-dark-orange);
  --md-sys-color-error: var(--md-sys-color-error-dark-orange);
  --md-sys-color-error-container: var(--md-sys-color-error-container-dark-orange);
  --md-sys-color-on-error: var(--md-sys-color-on-error-dark-orange);
  --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-dark-orange);
  --md-sys-color-background: var(--md-sys-color-background-dark-orange);
  --md-sys-color-on-background: var(--md-sys-color-on-background-dark-orange);
  --md-sys-color-outline: var(--md-sys-color-outline-dark-orange);
  --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-dark-orange);
  --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-dark-orange);
  --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-dark-orange);
  --md-sys-color-shadow: var(--md-sys-color-shadow-dark-orange);
  --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-dark-orange);
  --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-dark-orange);
  --md-sys-color-scrim: var(--md-sys-color-scrim-dark-orange);
  --md-sys-color-surface: var(--md-sys-color-surface-dark-orange);
  --md-sys-color-on-surface: var(--md-sys-color-on-surface-dark-orange);
  --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-dark-orange);
  --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-dark-orange);
  --md-sys-color-surface-container-highest: var(--md-sys-color-surface-container-highest-dark-orange);
  --md-sys-color-surface-container-high: var(--md-sys-color-surface-container-high-dark-orange);
  --md-sys-color-surface-container: var(--md-sys-color-surface-container-dark-orange);
  --md-sys-color-surface-container-low: var(--md-sys-color-surface-container-low-dark-orange);
  --md-sys-color-surface-container-lowest: var(--md-sys-color-surface-container-lowest-dark-orange);
  --md-sys-color-surface-dim: var(--md-sys-color-surface-dim-dark-orange);
  --md-sys-color-surface-bright: var(--md-sys-color-surface-bright-dark-orange);
  --md-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.25);
  --md-h-shadow: 0px 10px 34px 0px rgba(0, 0, 0, 0.35);
}

[data-theme='dark-pine'] {
  @extend %images-dark;
  --max-width: 1200px;
  --md-sys-color-primary: var(--md-sys-color-primary-dark-pine);
  --md-sys-color-on-primary: var(--md-sys-color-on-primary-dark-pine);
  --md-sys-color-primary-container: var(--md-sys-color-primary-container-dark-pine);
  --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-dark-pine);
  --md-sys-color-primary-fixed: var(--md-sys-color-primary-fixed-dark-pine);
  --md-sys-color-on-primary-fixed: var(--md-sys-color-on-primary-fixed-dark-pine);
  --md-sys-color-primary-fixed-dim: var(--md-sys-color-primary-fixed-dim-dark-pine);
  --md-sys-color-on-primary-fixed-variant: var(--md-sys-color-on-primary-fixed-variant-dark-pine);
  --md-sys-color-secondary: var(--md-sys-color-secondary-dark-pine);
  --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-dark-pine);
  --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-dark-pine);
  --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-dark-pine);
  --md-sys-color-secondary-fixed: var(--md-sys-color-secondary-fixed-dark-pine);
  --md-sys-color-on-secondary-fixed: var(--md-sys-color-on-secondary-fixed-dark-pine);
  --md-sys-color-secondary-fixed-dim: var(--md-sys-color-secondary-fixed-dim-dark-pine);
  --md-sys-color-on-secondary-fixed-variant: var(--md-sys-color-on-secondary-fixed-variant-dark-pine);
  --md-sys-color-tertiary: var(--md-sys-color-tertiary-dark-pine);
  --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-dark-pine);
  --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-dark-pine);
  --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-dark-pine);
  --md-sys-color-tertiary-fixed: var(--md-sys-color-tertiary-fixed-dark-pine);
  --md-sys-color-on-tertiary-fixed: var(--md-sys-color-on-tertiary-fixed-dark-pine);
  --md-sys-color-tertiary-fixed-dim: var(--md-sys-color-tertiary-fixed-dim-dark-pine);
  --md-sys-color-on-tertiary-fixed-variant: var(--md-sys-color-on-tertiary-fixed-variant-dark-pine);
  --md-sys-color-error: var(--md-sys-color-error-dark-pine);
  --md-sys-color-error-container: var(--md-sys-color-error-container-dark-pine);
  --md-sys-color-on-error: var(--md-sys-color-on-error-dark-pine);
  --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-dark-pine);
  --md-sys-color-background: var(--md-sys-color-background-dark-pine);
  --md-sys-color-on-background: var(--md-sys-color-on-background-dark-pine);
  --md-sys-color-outline: var(--md-sys-color-outline-dark-pine);
  --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-dark-pine);
  --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-dark-pine);
  --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-dark-pine);
  --md-sys-color-shadow: var(--md-sys-color-shadow-dark-pine);
  --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-dark-pine);
  --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-dark-pine);
  --md-sys-color-scrim: var(--md-sys-color-scrim-dark-pine);
  --md-sys-color-surface: var(--md-sys-color-surface-dark-pine);
  --md-sys-color-on-surface: var(--md-sys-color-on-surface-dark-pine);
  --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-dark-pine);
  --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-dark-pine);
  --md-sys-color-surface-container-highest: var(--md-sys-color-surface-container-highest-dark-pine);
  --md-sys-color-surface-container-high: var(--md-sys-color-surface-container-high-dark-pine);
  --md-sys-color-surface-container: var(--md-sys-color-surface-container-dark-pine);
  --md-sys-color-surface-container-low: var(--md-sys-color-surface-container-low-dark-pine);
  --md-sys-color-surface-container-lowest: var(--md-sys-color-surface-container-lowest-dark-pine);
  --md-sys-color-surface-dim: var(--md-sys-color-surface-dim-dark-pine);
  --md-sys-color-surface-bright: var(--md-sys-color-surface-bright-dark-pine);
  --md-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.25);
  --md-h-shadow: 0px 10px 34px 0px rgba(0, 0, 0, 0.35);
}

[data-theme='dark-yellow'] {
  @extend %images-dark;
  --max-width: 1200px;
  --md-sys-color-primary: var(--md-sys-color-primary-dark-yellow);
  --md-sys-color-on-primary: var(--md-sys-color-on-primary-dark-yellow);
  --md-sys-color-primary-container: var(--md-sys-color-primary-container-dark-yellow);
  --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-dark-yellow);
  --md-sys-color-primary-fixed: var(--md-sys-color-primary-fixed-dark-yellow);
  --md-sys-color-on-primary-fixed: var(--md-sys-color-on-primary-fixed-dark-yellow);
  --md-sys-color-primary-fixed-dim: var(--md-sys-color-primary-fixed-dim-dark-yellow);
  --md-sys-color-on-primary-fixed-variant: var(--md-sys-color-on-primary-fixed-variant-dark-yellow);
  --md-sys-color-secondary: var(--md-sys-color-secondary-dark-yellow);
  --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-dark-yellow);
  --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-dark-yellow);
  --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-dark-yellow);
  --md-sys-color-secondary-fixed: var(--md-sys-color-secondary-fixed-dark-yellow);
  --md-sys-color-on-secondary-fixed: var(--md-sys-color-on-secondary-fixed-dark-yellow);
  --md-sys-color-secondary-fixed-dim: var(--md-sys-color-secondary-fixed-dim-dark-yellow);
  --md-sys-color-on-secondary-fixed-variant: var(--md-sys-color-on-secondary-fixed-variant-dark-yellow);
  --md-sys-color-tertiary: var(--md-sys-color-tertiary-dark-yellow);
  --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-dark-yellow);
  --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-dark-yellow);
  --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-dark-yellow);
  --md-sys-color-tertiary-fixed: var(--md-sys-color-tertiary-fixed-dark-yellow);
  --md-sys-color-on-tertiary-fixed: var(--md-sys-color-on-tertiary-fixed-dark-yellow);
  --md-sys-color-tertiary-fixed-dim: var(--md-sys-color-tertiary-fixed-dim-dark-yellow);
  --md-sys-color-on-tertiary-fixed-variant: var(--md-sys-color-on-tertiary-fixed-variant-dark-yellow);
  --md-sys-color-error: var(--md-sys-color-error-dark-yellow);
  --md-sys-color-error-container: var(--md-sys-color-error-container-dark-yellow);
  --md-sys-color-on-error: var(--md-sys-color-on-error-dark-yellow);
  --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-dark-yellow);
  --md-sys-color-background: var(--md-sys-color-background-dark-yellow);
  --md-sys-color-on-background: var(--md-sys-color-on-background-dark-yellow);
  --md-sys-color-outline: var(--md-sys-color-outline-dark-yellow);
  --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-dark-yellow);
  --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-dark-yellow);
  --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-dark-yellow);
  --md-sys-color-shadow: var(--md-sys-color-shadow-dark-yellow);
  --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-dark-yellow);
  --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-dark-yellow);
  --md-sys-color-scrim: var(--md-sys-color-scrim-dark-yellow);
  --md-sys-color-surface: var(--md-sys-color-surface-dark-yellow);
  --md-sys-color-on-surface: var(--md-sys-color-on-surface-dark-yellow);
  --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-dark-yellow);
  --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-dark-yellow);
  --md-sys-color-surface-container-highest: var(--md-sys-color-surface-container-highest-dark-yellow);
  --md-sys-color-surface-container-high: var(--md-sys-color-surface-container-high-dark-yellow);
  --md-sys-color-surface-container: var(--md-sys-color-surface-container-dark-yellow);
  --md-sys-color-surface-container-low: var(--md-sys-color-surface-container-low-dark-yellow);
  --md-sys-color-surface-container-lowest: var(--md-sys-color-surface-container-lowest-dark-yellow);
  --md-sys-color-surface-dim: var(--md-sys-color-surface-dim-dark-yellow);
  --md-sys-color-surface-bright: var(--md-sys-color-surface-bright-dark-yellow);
  --md-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.25);
  --md-h-shadow: 0px 10px 34px 0px rgba(0, 0, 0, 0.35);
}

[data-theme='dark-red'] {
  @extend %images-dark;
  --max-width: 1200px;
  --md-sys-color-primary: var(--md-sys-color-primary-dark-red);
  --md-sys-color-on-primary: var(--md-sys-color-on-primary-dark-red);
  --md-sys-color-primary-container: var(--md-sys-color-primary-container-dark-red);
  --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-coredntainer-dark-red);
  --md-sys-color-primary-fixed: var(--md-sys-color-primary-fixed-dark-red);
  --md-sys-color-on-primary-fixed: var(--md-sys-color-on-primary-fixed-dark-red);
  --md-sys-color-primary-fixed-dim: var(--md-sys-color-primary-fixed-dim-dark-red);
  --md-sys-color-on-primary-fixed-variant: var(--md-sys-color-on-primary-fixed-variant-dark-red);
  --md-sys-color-secondary: var(--md-sys-color-secondary-dark-red);
  --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-dark-red);
  --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-dark-red);
  --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-dark-red);
  --md-sys-color-secondary-fixed: var(--md-sys-color-secondary-fixed-dark-red);
  --md-sys-color-on-secondary-fixed: var(--md-sys-color-on-secondary-fixed-dark-red);
  --md-sys-color-secondary-fixed-dim: var(--md-sys-color-secondary-fixed-dim-dark-red);
  --md-sys-color-on-secondary-fixed-variant: var(--md-sys-color-on-secondary-fixed-variant-dark-red);
  --md-sys-color-tertiary: var(--md-sys-color-tertiary-dark-red);
  --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-dark-red);
  --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-dark-red);
  --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-dark-red);
  --md-sys-color-tertiary-fixed: var(--md-sys-color-tertiary-fixed-dark-red);
  --md-sys-color-on-tertiary-fixed: var(--md-sys-color-on-tertiary-fixed-dark-red);
  --md-sys-color-tertiary-fixed-dim: var(--md-sys-color-tertiary-fixed-dim-dark-red);
  --md-sys-color-on-tertiary-fixed-variant: var(--md-sys-color-on-tertiary-fixed-variant-dark-red);
  --md-sys-color-error: var(--md-sys-color-error-dark-red);
  --md-sys-color-error-container: var(--md-sys-color-error-container-dark-red);
  --md-sys-color-on-error: var(--md-sys-color-on-error-dark-red);
  --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-dark-red);
  --md-sys-color-background: var(--md-sys-color-background-dark-red);
  --md-sys-color-on-background: var(--md-sys-color-on-background-dark-red);
  --md-sys-color-outline: var(--md-sys-color-outline-dark-red);
  --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-dark-red);
  --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-dark-red);
  --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-dark-red);
  --md-sys-color-shadow: var(--md-sys-color-shadow-dark-red);
  --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-dark-red);
  --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-dark-red);
  --md-sys-color-scrim: var(--md-sys-color-scrim-dark-red);
  --md-sys-color-surface: var(--md-sys-color-surface-dark-red);
  --md-sys-color-on-surface: var(--md-sys-color-on-surface-dark-red);
  --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-dark-red);
  --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-dark-red);
  --md-sys-color-surface-container-highest: var(--md-sys-color-surface-container-highest-dark-red);
  --md-sys-color-surface-container-high: var(--md-sys-color-surface-container-high-dark-red);
  --md-sys-color-surface-container: var(--md-sys-color-surface-container-dark-red);
  --md-sys-color-surface-container-low: var(--md-sys-color-surface-container-low-dark-red);
  --md-sys-color-surface-container-lowest: var(--md-sys-color-surface-container-lowest-dark-red);
  --md-sys-color-surface-dim: var(--md-sys-color-surface-dim-dark-red);
  --md-sys-color-surface-bright: var(--md-sys-color-surface-bright-dark-red);
  --md-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.25);
  --md-h-shadow: 0px 10px 34px 0px rgba(0, 0, 0, 0.35);
}

[data-theme='light-green'] {
  @extend %images-dark;
  --max-width: 1200px;
  --md-sys-color-primary: var(--md-sys-color-primary-light-green);
  --md-sys-color-on-primary: var(--md-sys-color-on-primary-light-green);
  --md-sys-color-primary-container: var(--md-sys-color-primary-container-light-green);
  --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-light-green);
  --md-sys-color-primary-fixed: var(--md-sys-color-primary-fixed-light-green);
  --md-sys-color-on-primary-fixed: var(--md-sys-color-on-primary-fixed-light-green);
  --md-sys-color-primary-fixed-dim: var(--md-sys-color-primary-fixed-dim-light-green);
  --md-sys-color-on-primary-fixed-variant: var(--md-sys-color-on-primary-fixed-variant-light-green);
  --md-sys-color-secondary: var(--md-sys-color-secondary-light-green);
  --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-light-green);
  --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-light-green);
  --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-light-green);
  --md-sys-color-secondary-fixed: var(--md-sys-color-secondary-fixed-light-green);
  --md-sys-color-on-secondary-fixed: var(--md-sys-color-on-secondary-fixed-light-green);
  --md-sys-color-secondary-fixed-dim: var(--md-sys-color-secondary-fixed-dim-light-green);
  --md-sys-color-on-secondary-fixed-variant: var(--md-sys-color-on-secondary-fixed-variant-light-green);
  --md-sys-color-tertiary: var(--md-sys-color-tertiary-light-green);
  --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-light-green);
  --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-light-green);
  --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-light-green);
  --md-sys-color-tertiary-fixed: var(--md-sys-color-tertiary-fixed-light-green);
  --md-sys-color-on-tertiary-fixed: var(--md-sys-color-on-tertiary-fixed-light-green);
  --md-sys-color-tertiary-fixed-dim: var(--md-sys-color-tertiary-fixed-dim-light-green);
  --md-sys-color-on-tertiary-fixed-variant: var(--md-sys-color-on-tertiary-fixed-variant-light-green);
  --md-sys-color-error: var(--md-sys-color-error-light-green);
  --md-sys-color-error-container: var(--md-sys-color-error-container-light-green);
  --md-sys-color-on-error: var(--md-sys-color-on-error-light-green);
  --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-light-green);
  --md-sys-color-background: var(--md-sys-color-background-light-green);
  --md-sys-color-on-background: var(--md-sys-color-on-background-light-green);
  --md-sys-color-outline: var(--md-sys-color-outline-light-green);
  --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-light-green);
  --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-light-green);
  --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-light-green);
  --md-sys-color-shadow: var(--md-sys-color-shadow-light-green);
  --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-light-green);
  --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-light-green);
  --md-sys-color-scrim: var(--md-sys-color-scrim-light-green);
  --md-sys-color-surface: var(--md-sys-color-surface-light-green);
  --md-sys-color-on-surface: var(--md-sys-color-on-surface-light-green);
  --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-light-green);
  --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-light-green);
  --md-sys-color-surface-container-highest: var(--md-sys-color-surface-container-highest-light-green);
  --md-sys-color-surface-container-high: var(--md-sys-color-surface-container-high-light-green);
  --md-sys-color-surface-container: var(--md-sys-color-surface-container-light-green);
  --md-sys-color-surface-container-low: var(--md-sys-color-surface-container-low-light-green);
  --md-sys-color-surface-container-lowest: var(--md-sys-color-surface-container-lowest-light-green);
  --md-sys-color-surface-dim: var(--md-sys-color-surface-dim-light-green);
  --md-sys-color-surface-bright: var(--md-sys-color-surface-bright-light-green);
  --md-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.25);
  --md-h-shadow: 0px 10px 34px 0px rgba(0, 0, 0, 0.35);
}

[data-theme='light-purple'] {
  @extend %images-light;
  --max-width: 1200px;
  --md-sys-color-primary: var(--md-sys-color-primary-light);
  --md-sys-color-on-primary: var(--md-sys-color-on-primary-light);
  --md-sys-color-primary-container: var(--md-sys-color-primary-container-light);
  --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-light);
  --md-sys-color-primary-fixed: var(--md-sys-color-primary-fixed-light);
  --md-sys-color-on-primary-fixed: var(--md-sys-color-on-primary-fixed-light);
  --md-sys-color-primary-fixed-dim: var(--md-sys-color-primary-fixed-dim-light);
  --md-sys-color-on-primary-fixed-variant: var(--md-sys-color-on-primary-fixed-variant-light);
  --md-sys-color-secondary: var(--md-sys-color-secondary-light);
  --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-light);
  --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-light);
  --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-light);
  --md-sys-color-secondary-fixed: var(--md-sys-color-secondary-fixed-light);
  --md-sys-color-on-secondary-fixed: var(--md-sys-color-on-secondary-fixed-light);
  --md-sys-color-secondary-fixed-dim: var(--md-sys-color-secondary-fixed-dim-light);
  --md-sys-color-on-secondary-fixed-variant: var(--md-sys-color-on-secondary-fixed-variant-light);
  --md-sys-color-tertiary: var(--md-sys-color-tertiary-light);
  --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-light);
  --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-light);
  --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-light);
  --md-sys-color-tertiary-fixed: var(--md-sys-color-tertiary-fixed-light);
  --md-sys-color-on-tertiary-fixed: var(--md-sys-color-on-tertiary-fixed-light);
  --md-sys-color-tertiary-fixed-dim: var(--md-sys-color-tertiary-fixed-dim-light);
  --md-sys-color-on-tertiary-fixed-variant: var(--md-sys-color-on-tertiary-fixed-variant-light);
  --md-sys-color-error: var(--md-sys-color-error-light);
  --md-sys-color-error-container: var(--md-sys-color-error-container-light);
  --md-sys-color-on-error: var(--md-sys-color-on-error-light);
  --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-light);
  --md-sys-color-background: var(--md-sys-color-background-light);
  --md-sys-color-on-background: var(--md-sys-color-on-background-light);
  --md-sys-color-outline: var(--md-sys-color-outline-light);
  --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-light);
  --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-light);
  --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-light);
  --md-sys-color-shadow: var(--md-sys-color-shadow-light);
  --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-light);
  --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-light);
  --md-sys-color-scrim: var(--md-sys-color-scrim-light);
  --md-sys-color-surface: var(--md-sys-color-surface-light);
  --md-sys-color-on-surface: var(--md-sys-color-on-surface-light);
  --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-light);
  --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-light);
  --md-sys-color-surface-container-highest: var(--md-sys-color-surface-container-highest-light);
  --md-sys-color-surface-container-high: var(--md-sys-color-surface-container-high-light);
  --md-sys-color-surface-container: var(--md-sys-color-surface-container-light);
  --md-sys-color-surface-container-low: var(--md-sys-color-surface-container-low-light);
  --md-sys-color-surface-container-lowest: var(--md-sys-color-surface-container-lowest-light);
  --md-sys-color-surface-dim: var(--md-sys-color-surface-dim-light);
  --md-sys-color-surface-bright: var(--md-sys-color-surface-bright-light);
  --md-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.12);
  --md-h-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.18);
}

[data-theme='light-orange'] {
  @extend %images-dark;
  --max-width: 1200px;
  --md-sys-color-primary: var(--md-sys-color-primary-light-orange);
  --md-sys-color-on-primary: var(--md-sys-color-on-primary-light-orange);
  --md-sys-color-primary-container: var(--md-sys-color-primary-container-light-orange);
  --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-light-orange);
  --md-sys-color-primary-fixed: var(--md-sys-color-primary-fixed-light-orange);
  --md-sys-color-on-primary-fixed: var(--md-sys-color-on-primary-fixed-light-orange);
  --md-sys-color-primary-fixed-dim: var(--md-sys-color-primary-fixed-dim-light-orange);
  --md-sys-color-on-primary-fixed-variant: var(--md-sys-color-on-primary-fixed-variant-light-orange);
  --md-sys-color-secondary: var(--md-sys-color-secondary-light-orange);
  --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-light-orange);
  --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-light-orange);
  --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-light-orange);
  --md-sys-color-secondary-fixed: var(--md-sys-color-secondary-fixed-light-orange);
  --md-sys-color-on-secondary-fixed: var(--md-sys-color-on-secondary-fixed-light-orange);
  --md-sys-color-secondary-fixed-dim: var(--md-sys-color-secondary-fixed-dim-light-orange);
  --md-sys-color-on-secondary-fixed-variant: var(--md-sys-color-on-secondary-fixed-variant-light-orange);
  --md-sys-color-tertiary: var(--md-sys-color-tertiary-light-orange);
  --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-light-orange);
  --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-light-orange);
  --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-light-orange);
  --md-sys-color-tertiary-fixed: var(--md-sys-color-tertiary-fixed-light-orange);
  --md-sys-color-on-tertiary-fixed: var(--md-sys-color-on-tertiary-fixed-light-orange);
  --md-sys-color-tertiary-fixed-dim: var(--md-sys-color-tertiary-fixed-dim-light-orange);
  --md-sys-color-on-tertiary-fixed-variant: var(--md-sys-color-on-tertiary-fixed-variant-light-orange);
  --md-sys-color-error: var(--md-sys-color-error-light-orange);
  --md-sys-color-error-container: var(--md-sys-color-error-container-light-orange);
  --md-sys-color-on-error: var(--md-sys-color-on-error-light-orange);
  --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-light-orange);
  --md-sys-color-background: var(--md-sys-color-background-light-orange);
  --md-sys-color-on-background: var(--md-sys-color-on-background-light-orange);
  --md-sys-color-outline: var(--md-sys-color-outline-light-orange);
  --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-light-orange);
  --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-light-orange);
  --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-light-orange);
  --md-sys-color-shadow: var(--md-sys-color-shadow-light-orange);
  --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-light-orange);
  --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-light-orange);
  --md-sys-color-scrim: var(--md-sys-color-scrim-light-orange);
  --md-sys-color-surface: var(--md-sys-color-surface-light-orange);
  --md-sys-color-on-surface: var(--md-sys-color-on-surface-light-orange);
  --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-light-orange);
  --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-light-orange);
  --md-sys-color-surface-container-highest: var(--md-sys-color-surface-container-highest-light-orange);
  --md-sys-color-surface-container-high: var(--md-sys-color-surface-container-high-light-orange);
  --md-sys-color-surface-container: var(--md-sys-color-surface-container-light-orange);
  --md-sys-color-surface-container-low: var(--md-sys-color-surface-container-low-light-orange);
  --md-sys-color-surface-container-lowest: var(--md-sys-color-surface-container-lowest-light-orange);
  --md-sys-color-surface-dim: var(--md-sys-color-surface-dim-light-orange);
  --md-sys-color-surface-bright: var(--md-sys-color-surface-bright-light-orange);
  --md-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.25);
  --md-h-shadow: 0px 10px 34px 0px rgba(0, 0, 0, 0.35);
}

[data-theme='light-pine'] {
  @extend %images-dark;
  --max-width: 1200px;
  --md-sys-color-primary: var(--md-sys-color-primary-light-pine);
  --md-sys-color-on-primary: var(--md-sys-color-on-primary-light-pine);
  --md-sys-color-primary-container: var(--md-sys-color-primary-container-light-pine);
  --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-light-pine);
  --md-sys-color-primary-fixed: var(--md-sys-color-primary-fixed-light-pine);
  --md-sys-color-on-primary-fixed: var(--md-sys-color-on-primary-fixed-light-pine);
  --md-sys-color-primary-fixed-dim: var(--md-sys-color-primary-fixed-dim-light-pine);
  --md-sys-color-on-primary-fixed-variant: var(--md-sys-color-on-primary-fixed-variant-light-pine);
  --md-sys-color-secondary: var(--md-sys-color-secondary-light-pine);
  --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-light-pine);
  --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-light-pine);
  --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-light-pine);
  --md-sys-color-secondary-fixed: var(--md-sys-color-secondary-fixed-light-pine);
  --md-sys-color-on-secondary-fixed: var(--md-sys-color-on-secondary-fixed-light-pine);
  --md-sys-color-secondary-fixed-dim: var(--md-sys-color-secondary-fixed-dim-light-pine);
  --md-sys-color-on-secondary-fixed-variant: var(--md-sys-color-on-secondary-fixed-variant-light-pine);
  --md-sys-color-tertiary: var(--md-sys-color-tertiary-light-pine);
  --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-light-pine);
  --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-light-pine);
  --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-light-pine);
  --md-sys-color-tertiary-fixed: var(--md-sys-color-tertiary-fixed-light-pine);
  --md-sys-color-on-tertiary-fixed: var(--md-sys-color-on-tertiary-fixed-light-pine);
  --md-sys-color-tertiary-fixed-dim: var(--md-sys-color-tertiary-fixed-dim-light-pine);
  --md-sys-color-on-tertiary-fixed-variant: var(--md-sys-color-on-tertiary-fixed-variant-light-pine);
  --md-sys-color-error: var(--md-sys-color-error-light-pine);
  --md-sys-color-error-container: var(--md-sys-color-error-container-light-pine);
  --md-sys-color-on-error: var(--md-sys-color-on-error-light-pine);
  --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-light-pine);
  --md-sys-color-background: var(--md-sys-color-background-light-pine);
  --md-sys-color-on-background: var(--md-sys-color-on-background-light-pine);
  --md-sys-color-outline: var(--md-sys-color-outline-light-pine);
  --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-light-pine);
  --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-light-pine);
  --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-light-pine);
  --md-sys-color-shadow: var(--md-sys-color-shadow-light-pine);
  --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-light-pine);
  --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-light-pine);
  --md-sys-color-scrim: var(--md-sys-color-scrim-light-pine);
  --md-sys-color-surface: var(--md-sys-color-surface-light-pine);
  --md-sys-color-on-surface: var(--md-sys-color-on-surface-light-pine);
  --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-light-pine);
  --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-light-pine);
  --md-sys-color-surface-container-highest: var(--md-sys-color-surface-container-highest-light-pine);
  --md-sys-color-surface-container-high: var(--md-sys-color-surface-container-high-light-pine);
  --md-sys-color-surface-container: var(--md-sys-color-surface-container-light-pine);
  --md-sys-color-surface-container-low: var(--md-sys-color-surface-container-low-light-pine);
  --md-sys-color-surface-container-lowest: var(--md-sys-color-surface-container-lowest-light-pine);
  --md-sys-color-surface-dim: var(--md-sys-color-surface-dim-light-pine);
  --md-sys-color-surface-bright: var(--md-sys-color-surface-bright-light-pine);
  --md-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.25);
  --md-h-shadow: 0px 10px 34px 0px rgba(0, 0, 0, 0.35);
}

[data-theme='light-yellow'] {
  @extend %images-light;
  --max-width: 1200px;
  --md-sys-color-primary: var(--md-sys-color-primary-light-yellow);
  --md-sys-color-on-primary: var(--md-sys-color-on-primary-light-yellow);
  --md-sys-color-primary-container: var(--md-sys-color-primary-container-light-yellow);
  --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-light-yellow);
  --md-sys-color-primary-fixed: var(--md-sys-color-primary-fixed-light-yellow);
  --md-sys-color-on-primary-fixed: var(--md-sys-color-on-primary-fixed-light-yellow);
  --md-sys-color-primary-fixed-dim: var(--md-sys-color-primary-fixed-dim-light-yellow);
  --md-sys-color-on-primary-fixed-variant: var(--md-sys-color-on-primary-fixed-variant-light-yellow);
  --md-sys-color-secondary: var(--md-sys-color-secondary-light-yellow);
  --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-light-yellow);
  --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-light-yellow);
  --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-light-yellow);
  --md-sys-color-secondary-fixed: var(--md-sys-color-secondary-fixed-light-yellow);
  --md-sys-color-on-secondary-fixed: var(--md-sys-color-on-secondary-fixed-light-yellow);
  --md-sys-color-secondary-fixed-dim: var(--md-sys-color-secondary-fixed-dim-light-yellow);
  --md-sys-color-on-secondary-fixed-variant: var(--md-sys-color-on-secondary-fixed-variant-light-yellow);
  --md-sys-color-tertiary: var(--md-sys-color-tertiary-light-yellow);
  --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-light-yellow);
  --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-light-yellow);
  --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-light-yellow);
  --md-sys-color-tertiary-fixed: var(--md-sys-color-tertiary-fixed-light-yellow);
  --md-sys-color-on-tertiary-fixed: var(--md-sys-color-on-tertiary-fixed-light-yellow);
  --md-sys-color-tertiary-fixed-dim: var(--md-sys-color-tertiary-fixed-dim-light-yellow);
  --md-sys-color-on-tertiary-fixed-variant: var(--md-sys-color-on-tertiary-fixed-variant-light-yellow);
  --md-sys-color-error: var(--md-sys-color-error-light-yellow);
  --md-sys-color-error-container: var(--md-sys-color-error-container-light-yellow);
  --md-sys-color-on-error: var(--md-sys-color-on-error-light-yellow);
  --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-light-yellow);
  --md-sys-color-background: var(--md-sys-color-background-light-yellow);
  --md-sys-color-on-background: var(--md-sys-color-on-background-light-yellow);
  --md-sys-color-outline: var(--md-sys-color-outline-light-yellow);
  --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-light-yellow);
  --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-light-yellow);
  --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-light-yellow);
  --md-sys-color-shadow: var(--md-sys-color-shadow-light-yellow);
  --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-light-yellow);
  --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-light-yellow);
  --md-sys-color-scrim: var(--md-sys-color-scrim-light-yellow);
  --md-sys-color-surface: var(--md-sys-color-surface-light-yellow);
  --md-sys-color-on-surface: var(--md-sys-color-on-surface-light-yellow);
  --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-light-yellow);
  --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-light-yellow);
  --md-sys-color-surface-container-highest: var(--md-sys-color-surface-container-highest-light-yellow);
  --md-sys-color-surface-container-high: var(--md-sys-color-surface-container-high-light-yellow);
  --md-sys-color-surface-container: var(--md-sys-color-surface-container-light-yellow);
  --md-sys-color-surface-container-low: var(--md-sys-color-surface-container-low-light-yellow);
  --md-sys-color-surface-container-lowest: var(--md-sys-color-surface-container-lowest-light-yellow);
  --md-sys-color-surface-dim: var(--md-sys-color-surface-dim-light-yellow);
  --md-sys-color-surface-bright: var(--md-sys-color-surface-bright-light-yellow);
  --md-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.12);
  --md-h-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.18);
}

[data-theme='light-red'] {
  @extend %images-dark;
  --max-width: 1200px;
  --md-sys-color-primary: var(--md-sys-color-primary-light-red);
  --md-sys-color-on-primary: var(--md-sys-color-on-primary-light-red);
  --md-sys-color-primary-container: var(--md-sys-color-primary-container-light-red);
  --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-light-red);
  --md-sys-color-primary-fixed: var(--md-sys-color-primary-fixed-light-red);
  --md-sys-color-on-primary-fixed: var(--md-sys-color-on-primary-fixed-light-red);
  --md-sys-color-primary-fixed-dim: var(--md-sys-color-primary-fixed-dim-light-red);
  --md-sys-color-on-primary-fixed-variant: var(--md-sys-color-on-primary-fixed-variant-light-red);
  --md-sys-color-secondary: var(--md-sys-color-secondary-light-red);
  --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-light-red);
  --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-light-red);
  --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-light-red);
  --md-sys-color-secondary-fixed: var(--md-sys-color-secondary-fixed-light-red);
  --md-sys-color-on-secondary-fixed: var(--md-sys-color-on-secondary-fixed-light-red);
  --md-sys-color-secondary-fixed-dim: var(--md-sys-color-secondary-fixed-dim-light-red);
  --md-sys-color-on-secondary-fixed-variant: var(--md-sys-color-on-secondary-fixed-variant-light-red);
  --md-sys-color-tertiary: var(--md-sys-color-tertiary-light-red);
  --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-light-red);
  --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-light-red);
  --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-light-red);
  --md-sys-color-tertiary-fixed: var(--md-sys-color-tertiary-fixed-light-red);
  --md-sys-color-on-tertiary-fixed: var(--md-sys-color-on-tertiary-fixed-light-red);
  --md-sys-color-tertiary-fixed-dim: var(--md-sys-color-tertiary-fixed-dim-light-red);
  --md-sys-color-on-tertiary-fixed-variant: var(--md-sys-color-on-tertiary-fixed-variant-light-red);
  --md-sys-color-error: var(--md-sys-color-error-light-red);
  --md-sys-color-error-container: var(--md-sys-color-error-container-light-red);
  --md-sys-color-on-error: var(--md-sys-color-on-error-light-red);
  --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-light-red);
  --md-sys-color-background: var(--md-sys-color-background-light-red);
  --md-sys-color-on-background: var(--md-sys-color-on-background-light-red);
  --md-sys-color-outline: var(--md-sys-color-outline-light-red);
  --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-light-red);
  --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-light-red);
  --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-light-red);
  --md-sys-color-shadow: var(--md-sys-color-shadow-light-red);
  --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-light-red);
  --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-light-red);
  --md-sys-color-scrim: var(--md-sys-color-scrim-light-red);
  --md-sys-color-surface: var(--md-sys-color-surface-light-red);
  --md-sys-color-on-surface: var(--md-sys-color-on-surface-light-red);
  --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-light-red);
  --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-light-red);
  --md-sys-color-surface-container-highest: var(--md-sys-color-surface-container-highest-light-red);
  --md-sys-color-surface-container-high: var(--md-sys-color-surface-container-high-light-red);
  --md-sys-color-surface-container: var(--md-sys-color-surface-container-light-red);
  --md-sys-color-surface-container-low: var(--md-sys-color-surface-container-low-light-red);
  --md-sys-color-surface-container-lowest: var(--md-sys-color-surface-container-lowest-light-red);
  --md-sys-color-surface-dim: var(--md-sys-color-surface-dim-light-red);
  --md-sys-color-surface-bright: var(--md-sys-color-surface-bright-light-red);
  --md-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.25);
  --md-h-shadow: 0px 10px 34px 0px rgba(0, 0, 0, 0.35);
}
